<div class="container">
  <div class="row">
    <div class="col l12">
      <h3>اضافة كتاب</h3>
      <form enctype="multipart/form-data" id="addBook" [formGroup]="addBookForm"
        (ngSubmit)="addBook(addBookForm.value)">

        <div class="form-group">
          <input type="text" id="inputEmail" [ngModel]="Book?.title" placeholder=" اسم الكتاب" name="title"
            formControlName="title" required>
        </div>
        <div class="form-group">
          <input type="text" id="inputEmail" [ngModel]="Book?.Author" placeholder=" مولف الكتاب" name="Author"
            formControlName="Author" required>
        </div>
        <div class="form-group">
          <textarea type="text" id="inputEmail" [ngModel]="Book?.describtion" placeholder="وصف الكتاب "
            name="describtion" formControlName="describtion" required>
          </textarea>
        </div>
        <div class="form-group">
          <input type="number" id="inputEmail" [ngModel]="Book?.rating" placeholder="معدل الكتاب " name="rating"
            formControlName="rating" required>
        </div>
        <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()">التقط صورة
          </button>
          <input class="filepicker" name="avatar" type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && addBookForm.get('image').valid">
          <img [src]="imagePreview" [alt]="addBookForm.value.title">
        </div>
        <button type="submit" class="btn btn-green">اضف</button>
      </form>
    </div>
  </div>
</div>